*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'gilroy';
}
html,body{
	height: 100%;
	width: 100%;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: cornflowerblue;
}
#card{
	height: 400px;
	width: 300px;
	background-color: aliceblue;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	
}
#card img{
	border-radius: 20px;
	position: relative;
}
#card h1{
	/* text-align: center; */
	/* font-size: 25px; */
	font-size: 25px;
	font-weight: 800;
	margin: 10px;
}
#card img{
	height: 70%;
	width: 100%;
	object-fit: cover;
	object-position: center;

}
#card h4{
	font-weight: bold;
	color: red;
	margin: 10px;
}

#add{
	background-color: rgb(110, 160, 240);
	padding: 10px;
	font-weight: 700;
	border-radius: 30px;
	cursor: pointer;
	margin-right: 10px;
}
